<form>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" ng-model="search.string1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-inline">
                <select class="layui-input" ng-options="x.id as x.name for x in department" ng-model="search.number1"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">账号状态</label>
            <div class="layui-input-inline">
                <select class="layui-input" ng-options="x.id as x.name for x in state" ng-model="search.number2"></select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" ng-click="get()">搜索</button>
            <button class="layui-btn" ng-click="reset()">重置</button>
        </div>
    </div>
</form>
<table class="layui-table">
    <thead>
    <tr>
        <th>管理员工号</th>
        <th>管理员姓名</th>
        <th>管理员部门</th>
        <th>账号授权时间</th>
        <th>账号状态</th>
        <th>
            <button class="layui-btn layui-btn-xs" ng-click="showAddModal()">添加</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in data">
        <td ng-bind="d.userid"></td>
        <td ng-bind="d.name"></td>
        <td ng-bind="d.department_name"></td>
        <td ng-bind="d.systime|date:'yyyy-MM-dd HH:mm:ss'"></td>
        <td>
            <span ng-if="d.state==2">正常</span>
            <span ng-if="d.state==3">已禁用</span>
        </td>
        <td>
            <button class="layui-btn layui-btn-xs" ng-if="d.state==2" ng-click="editState(d,3)">停用</button>
            <button class="layui-btn layui-btn-xs" ng-if="d.state==3" ng-click="editState(d,2)">启用</button>
            <button class="layui-btn layui-btn-xs" ng-click="showEditModal()">权限</button>
            <button class="layui-btn layui-btn-xs" ng-click="delete(d)">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<div id="page"></div>
<div class="modals">
    <div id="modal" class="modal">
        <form >
            <div class="layui-form-item">
                <label class="layui-form-label">输入框</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">辅助文字</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-input-block">
                    <select name="city" lay-verify="required" class="layui-input">
                        <option value=""></option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[write]" title="写作">写作
                    <input type="checkbox" name="like[read]" title="阅读" checked>阅读
                    <input type="checkbox" name="like[dai]" title="发呆">发呆
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开关{{model.ck}}123</label>
                <div class="layui-input-block">
                    <input type="checkbox" ng-model="model.ck" name="switch" lay-skin="switch">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单选框</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男">男
                    <input type="radio" name="sex" value="女" title="女" checked>女
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>