<style>
    .statistic > span > span {
        font-weight: bold;
        margin: 0 5px;
        color: red;
    }
</style>
<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input id="date" type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" ng-click="get()">搜索</button>
            <button class="layui-btn" ng-click="reset()">重置</button>
        </div>
    </div>
</form>
<div class="statistic">
    <strong>统计：</strong>
    <span>加班<span ng-bind="statistic.userCount"></span>人</span>
</div>
<hr>
<table class="layui-table">
    <thead>
    <tr>
        <th>员工工号</th>
        <th>申请人</th>
        <th>申请人部门</th>
        <th>加班时间</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in data">
        <td ng-bind="d.userid"></td>
        <td ng-bind="d.user_name"></td>
        <td ng-bind="d.department_name"></td>
        <td ng-bind="d.dates"></td>
    </tr>
    </tbody>
</table>
<div id="page"></div>